footer {
  .contact-us {
    background-color: #b5916f;
    padding: 70px 0 100px;
    text-align: center;

    .title {
      font-size: 96px;
      color: transparent;
      margin: 0;
      line-height: 96px;
      -webkit-text-stroke: 0.07rem white;
    }

    .sub-title {
      color: #f2c94c;
      font-size: 20px;
      font-weight: 700;
    }

    .contact-form {
      max-width: 1000px;
      margin: auto;
      margin-top: 70px;

      p {
        margin: 0;
        margin-top: 30px;
        line-height: 38px;
        font-size: 16px;
        color: white;
      }

      .submit {
        text-align: right;

        button {
          margin-top: 30px;
          margin-left: auto;
          font-family: 'Montserrat';
          font-weight: 700;
        }
      }
    }
  }

  .footer-bar {
    padding: 20px 50px;

    p {
      margin: 0;
      font-size: 10px;
    }
  }
}
