@font-face {
  font-family: 'Montserrat';
  src: url(./Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url(./Montserrat-Bold.ttf);
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url(./Montserrat-SemiBold.ttf);
}

$background-color: #b5b26f;
$light-background: #f8f7f1;
$main-color: #454545;
$primary-color: #1449bb;
$star-yellow: #f2c94c;
$lightbrown: #b5916f;

body {
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Montserrat';
}

input,
textarea {
  font-family: 'Montserrat';
  padding: 7px 20px !important;
}

.ant-btn {
  font-family: 'Montserrat';
  font-weight: 700;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;

  img {
    margin-left: 10px;
  }

  &.secondary {
    border-color: $star-yellow;
    background-color: $star-yellow;
  }
}

.btn-large {
  padding: 10px 20px;
  line-height: unset;
  height: unset;
  font-size: 12px;
  border: none;
  background-color: $star-yellow;
  color: $main-color;
}

.ant-btn-primary {
  background-color: $primary-color;
  border: none;

  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

.ant-btn-ghost {
  background-color: $lightbrown;
  color: white;
  border: none;

  &:hover {
    background-color: $lightbrown;
    color: white;
  }
}

.slick-dots {
  li {
    &.slick-active {
      width: 60px;

      button {
        width: 50px;
        background-color: $lightbrown;
      }
    }

    button {
      width: 3px;
      height: 3px;
      background-color: lightgray;
      border-radius: 5px;

      &::before {
        content: '';
      }
    }
  }
}
