@font-face {
  font-family: "Montserrat";
  src: url(./Montserrat-Regular.ttf);
}

body {
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Montserrat";
}

input, textarea {
  font-family: "Montserrat";
  padding: 7px 20px !important;
}

.btn-large {
  padding: 10px 20px;
  line-height: unset;
  height: unset;
  font-size: 12px;
  font-weight: "Montserrat";
  border: none;
  background-color: #F2C94C;
  color: #454545;
}

.ant-btn-primary {
  background-color: #1449bb;
  border: none;

  &:hover {
    background-color: #1449bb;
    color: white;
  }
}

.ant-btn-ghost {
  background-color: #b5916f;
  color: white;
  border: none;

  &:hover {
    background-color: #b5916f;
    color: white;
  }
}
