.header {
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 10;
  .container > .ant-row {
    height: 60px;
  }


    ul {
      text-align: right;
      li {
        font-family: 'Montserrat';
        font-size: 16px;
      }
    }
}

.mobile-menu {
  @media (min-width: 1200px) {
    display: none;
  }

  ul {
    border: none;
  }
}

.ant-menu-horizontal {
  border: none;
}
