.homepage {
  .top-section {
    position: relative;
    text-align: center;
    padding: 50px 20px 130px;
    background-color: #f8f7f1;
    border-bottom: 3px solid rgba(181, 178, 111, 0.3);

    .text-wrapper {
      max-width: 900px;
      margin: auto;

      h1 {
        font-size: 48px;
        color: #b5b26f;
        font-weight: 700;
      }

      .description {
        color: #b5b26f;
        font-size: 16px;
      }

      .details {
        color: #b5b26f;
        font-size: 14px;
        font-weight: 600;
      }

      img {
        position: absolute;
        bottom: 0;
        transform: translate(-50%, 140px);
      }
    }
  }

  .site-reviews {
    padding: 80px 0 70px;
    overflow: hidden;

    &.slider {
      padding: 50px 0 70px;
    }

    .slider-element {
      .slick-slide {
        padding: 30px;

        .site-review {
          margin-top: 0;
        }
      }

      .slick-dots {
        li {
          &.slick-active {
            width: 60px;

            button {
              width: 50px;
              background-color: #b5916f;
            }
          }

          button {
            width: 3px;
            height: 3px;
            background-color: lightgray;
            border-radius: 5px;

            &::before {
              content: '';
            }
          }
        }
      }
    }

    .site-review {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 50px 30px 50px 40px;
      margin-top: 30px;
      align-items: center;
      box-shadow: 0px 4px 15px rgba(181, 178, 111, 0.3);
      border-top: 4px solid #b5b26f;

      .rating {
        p {
          margin: 0;
          text-align: center;

          &.rating-value {
            font-size: 18px;
            font-weight: 700;
          }
        }
      }

      button {
        font-family: 'Montserrat';
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(-20px, 50%);
      }
    }
  }

  .products {
    position: relative;

    .ant-tabs {
      .ant-tabs-nav {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        border: 1px solid #b5b26f;

        .ant-tabs-nav-list {
          justify-content: center;

          .ant-tabs-tab {
            margin: 0;
            padding: 7px 30px;
            border: none;
            font-family: 'Montserrat';

            &.ant-tabs-tab-active {
              background-color: #b5b26f;

              .ant-tabs-tab-btn {
                color: white;
              }
            }

            &:hover {
              color: black;
            }
          }
        }
      }
    }

    .ant-tabs-content-holder {
      margin-top: 20px;

      .featured-products {
        background-color: #f8f7f1;
        margin-bottom: 50px;

        .product-lists {
          .product-list {
            background-color: white;
            border-right: 3px solid;

            &.editor {
              border-color: #fe6581;
            }

            &.biggest {
              border-color: #00b227;
            }

            &.best-seller {
              border-color: #fcdc74;
            }
          }
        }
      }

      .section-title {
        color: transparent;
        font-size: 120px;
        margin: 0;
        text-align: center;
        -webkit-text-stroke: 2px #b5b26f;
        padding: 30px 0;

        @media (max-width: 992px) {
          font-size: 80px;
          -webkit-text-stroke: 1px #b5b26f;
        }
      }

      .product-lists {
        .product-list {
          display: flex;
          background-color: #f8f7f1;
          box-shadow: 0px 4px 15px rgba(181, 178, 111, 0.3);
          margin-bottom: 50px;

          .product-image {
            position: relative;

            img {
              &.product-preview {
                @media (max-width: 1200px) {
                  width: 300px;
                }
              }
            }

            .featured-badge {
              position: absolute;
              color: white;
              font-family: 'Montserrat';
              font-size: 14px;
              font-weight: 600;
              padding: 3px 10px;
              top: 15px;
              left: -15px;
              text-transform: uppercase;

              img {
                margin-right: 5px;
              }

              &.editor {
                background-color: #fe6581;
              }

              &.biggest {
                background-color: #00b227;
              }

              &.best-seller {
                background-color: #fcdc74;
                color: #454545;
              }
            }

            .product-number {
              position: absolute;
              top: 15px;
              right: 15px;
              background-color: #1449bb;
              border-radius: 50%;
              width: 35px;
              height: 35px;
              color: white;
              text-align: center;
              line-height: 35px;
              font-size: 14px;
              font-weight: 700;
              font-family: 'Montserrat';
            }
          }

          .product-detail {
            padding: 0 20px 0;
            display: flex;
            align-items: flex-end;
            position: relative;

            .company-logo {
              position: absolute;
              top: 30px;
              right: 30px;
            }

            .description {
              width: 60%;
              padding: 30px;

              .title {
                font-size: 18px;
                color: rgba(69, 69, 69, 1);
                font-weight: 700;
                margin: 0;
              }

              .sale {
                color: rgba(205, 67, 60, 1);
                font-size: 18px;
                font-weight: 700;
              }

              .product-description {
                margin-bottom: 50px;
              }

              .product-rating {
                font-weight: 700;
                font-size: 16px;
                color: rgba(69, 69, 69, 1);
                margin-right: 20px;
              }
            }

            .shipping {
              width: 40%;
              padding: 30px;

              ul {
                padding: 0;
                margin: 0;

                li {
                  font-family: 'Montserrat';
                  font-size: 14px;
                  font-weight: 600;
                  margin: 7px 0;
                }
              }

              .show-more {
                font-family: 'Montserrat';
                font-size: 14px;
                font-weight: 600;
                text-decoration: underline;
              }

              .actions {
                margin: 0;
                margin-top: 10px;

                button {
                  font-family: 'Montserrat';
                  font-weight: 700;
                  margin-top: 10px;

                  &:first-child {
                    margin-right: 20px;
                  }
                }
              }
            }
          }

          @media (max-width: 992px) {
            flex-wrap: wrap;

            .product-image {
              margin: auto;

              img.product-preview {
                width: 500px;
              }
            }
          }
        }
      }
    }
  }

  .choose-best {
    margin-top: 50px;
    background-color: #f8f7f1;
    padding-bottom: 100px;

    .section-banner {
      background-color: #051e4e;
      position: relative;
      padding: 50px 0 150px;

      .title {
        font-size: 96px;
        line-height: 96px;
        color: transparent;
        -webkit-text-stroke: 1px #b5b26f;
      }

      img {
        position: absolute;
        right: 200px;
        z-index: 1;

        @media (max-width: 1200px) {
          width: 500px;
          top: 100px;
          right: 0;
        }
      }
    }

    .section-details {
      margin-top: -150px;
      padding: 60px 150px 60px 120px;
      box-shadow: 0px 4px 15px rgba(181, 178, 111, 0.3);
      background-color: white;

      .title {
        font-size: 20px;
        color: #454545;
        font-weight: 700;
        margin-top: 50px;
      }

      .big-title {
        font-size: 20px;
        font-weight: 700;
        color: #b5916f;
        margin: 40px 0;
      }

      img {
        position: absolute;

        @media (max-width: 992px) {
          position: relative;
          right: unset !important;
        }

        &:nth-of-type(1) {
          right: -150px;
        }

        &:nth-of-type(2) {
          right: -300px;
        }

        &:nth-of-type(3) {
          right: -200px;
        }
      }
    }
  }
}
