.homepage {
  overflow-x: hidden;

  .top-section {
    position: relative;
    text-align: center;
    padding: 40px 20px 130px;
    background-color: $light-background;
    border-bottom: 3px solid rgba(8, 8, 7, 0.3);

    @media (max-width: 425px) {
      padding-bottom: 70px;
    }

    .text-wrapper {
      max-width: 900px;
      margin: auto;

      h1 {
        font-size: 48px;
        color: $background-color;
        font-weight: 700;

        @media (max-width: 425px) {
          font-size: 38px;
        }
      }

      .description {
        color: $background-color;
        font-size: 16px;
      }

      .details {
        color: $background-color;
        font-size: 14px;
        font-weight: 600;
      }

      img {
        position: absolute;
        bottom: 0;
        transform: translate(-50%, 50%);

        @media (max-width: 768px) {
          width: 70%;
        }
      }
    }
  }

  .site-reviews {
    padding: 80px 0 70px;
    overflow: hidden;

    &.slider {
      padding: 50px 0 70px;
    }

    .slider-element {
      .slick-slide {
        padding: 30px;

        @media (max-width: 425px) {
          padding: 30px 10px;
        }
      }
    }

    .site-review {
      position: relative;
      padding: 45px 25px;
      box-shadow: 0px 4px 15px rgba(181, 178, 111, 0.3);
      border-top: 4px solid $background-color;
      max-width: 420px;
      margin: 30px auto;
      margin-bottom: 0;

      .number {
        height: 40px;
        padding: 5px;
      }
      .rating {
        max-width: 150px;
      }
      .ant-rate {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .ant-rate-star:not(:last-child) {
        margin: 0;
      }

      @media only screen and (max-width: 1024px) and (min-width: 993px) {
        .brand {
          max-width: 80%;
        }
        padding: 30px 10px;
      }
      @media only screen and (max-width: 375px) {
        .brand {
          max-width: 90%;
        }
        padding: 30px 10px;
      }

      .rating {
        p {
          margin: 0;
          text-align: center;

          &.rating-value {
            font-size: 18px;
            font-weight: 700;
          }
        }
      }

      button {
        font-family: 'Montserrat';
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(-20px, 50%);
      }
    }
  }

  .products {
    position: relative;

    @include breakpoint-down(medium) {
      margin: 4px;
      .tablist {
        position: relative;
        border-radius: 4px;
      }
    }

    .arrow {
      position: absolute;
      top: 0.009%;
      right: 1%;
      height: 33px;
      width: 26px;
      border-radius: 50%;
      background: linear-gradient(
        270deg,
        rgba(255, 255, 255, 0.95) 33.69%,
        rgba(255, 255, 255, 0) 100%
      );

      img {
        width: fit-content;
      }
    }

    .ant-tabs {
      .tablist {
        border-radius: 5px;
      }

      .ant-tabs-nav {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        border: 1px solid $background-color;

        @media (max-width: 768px) {
          width: 100%;
        }

        .ant-tabs-nav-list {
          justify-content: center;

          .ant-tabs-tab {
            margin: 0;
            padding: 7px 30px;
            border: none;
            font-family: 'Montserrat';

            &.ant-tabs-tab-active {
              background-color: $background-color;

              .ant-tabs-tab-btn {
                color: white;
              }
            }

            &:hover {
              color: black;
            }
          }
        }
      }
    }

    .ant-tabs-content-holder {
      margin-top: 20px;

      .featured-products {
        background-color: $light-background;
        margin-bottom: 50px;

        .product-lists {
          .product-list {
            background-color: white;
            border-right: 3px solid;

            &.editor {
              border-color: #fe6581;
            }

            &.biggest {
              border-color: #00b227;
            }

            &.best-seller {
              border-color: #fcdc74;
            }
          }
        }
      }

      .section-title {
        font-family: 'Montserrat-Bold';
        color: transparent;
        font-size: 100px;
        margin: 0;
        text-align: center;
        -webkit-text-stroke: 2px $background-color;
        padding: 30px 0;

        @media (max-width: 992px) {
          font-size: 80px;
          -webkit-text-stroke: 1px $background-color;
        }
      }

      .product-lists {
        .product-list {
          display: flex;
          background-color: $light-background;
          box-shadow: 0px 4px 15px rgba(181, 178, 111, 0.3);
          margin-bottom: 50px;

          .product-image {
            position: relative;

            img {
              &.product-preview {
                width: 340px;
                @media (max-width: 1200px) {
                  width: 300px;
                }
              }
            }

            .featured-badge {
              position: absolute;
              color: white;
              font-family: 'Montserrat';
              font-size: 14px;
              font-weight: 600;
              padding: 3px 10px;
              top: 15px;
              left: -15px;
              text-transform: uppercase;

              img {
                margin-right: 5px;
              }

              &.editor {
                background-color: #fe6581;
              }

              &.biggest {
                background-color: #00b227;
              }

              &.best-seller {
                background-color: #fcdc74;
                color: $main-color;
              }
            }

            .product-number {
              position: absolute;
              top: 15px;
              right: 15px;
              background-color: $primary-color;
              border-radius: 50%;
              width: 35px;
              height: 35px;
              color: white;
              text-align: center;
              line-height: 35px;
              font-size: 14px;
              font-weight: 700;
              font-family: 'Montserrat';
            }
          }

          .product-detail {
            padding: 0 20px 0;
            display: flex;
            align-items: flex-end;
            position: relative;
            flex-wrap: wrap;

            .company-logo {
              position: absolute;
              top: 30px;
              right: 30px;

              @media (max-width: 992px) {
                top: 10px;
                right: 0;
              }
            }

            .description {
              width: 60%;
              padding: 30px;

              @media (max-width: 576px) {
                width: 100%;
                padding-top: 50px;
                padding-bottom: 10px;
              }

              .title {
                font-size: 18px;
                color: rgba(69, 69, 69, 1);
                font-weight: 700;
                margin: 0;
              }

              .sale {
                color: rgba(205, 67, 60, 1);
                font-size: 18px;
                font-weight: 700;
              }

              .product-description {
                margin-bottom: 50px;

                @media (max-width: 576px) {
                  margin-bottom: 20px;
                }
              }

              .product-rating {
                font-weight: 700;
                font-size: 16px;
                color: rgba(69, 69, 69, 1);
                margin-right: 20px;
              }
            }

            .shipping {
              width: 40%;
              padding: 30px;

              @media (max-width: 576px) {
                width: 100%;
                padding-top: 0;
              }

              ul {
                padding: 0;
                margin: 0;

                li {
                  font-family: 'Montserrat';
                  font-size: 14px;
                  font-weight: 600;
                  margin: 7px 0;
                }
              }

              .show-more {
                font-family: 'Montserrat';
                font-size: 14px;
                font-weight: 600;
                text-decoration: underline;
              }

              .actions {
                margin: 0;
                margin-top: 10px;

                button {
                  font-family: 'Montserrat';
                  font-weight: 700;
                  margin-top: 10px;

                  &:first-child {
                    margin-right: 20px;
                  }
                }
              }
            }
          }

          @media (max-width: 992px) {
            flex-wrap: wrap;

            .product-image {
              margin: auto;

              img.product-preview {
                width: 500px;
              }
            }
          }

          @media (max-width: 992px) {
            flex-wrap: wrap;

            .product-image {
              margin: auto;

              img.product-preview {
                width: 500px;
              }
            }
          }

          @media (max-width: 768px) {
            flex-wrap: wrap;

            .product-image {
              margin: auto;

              img.product-preview {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  .choose-best {
    margin-top: 50px;
    background-color: $light-background;
    padding-bottom: 100px;

    .section-banner {
      background-color: #051e4e;
      position: relative;
      padding: 50px 0 150px;

      @media (max-width: 992px) {
        padding-bottom: 50px;
      }

      .title {
        font-family: 'Montserrat-Bold';
        font-size: 96px;
        line-height: 96px;
        color: transparent;
        -webkit-text-stroke: 1px $background-color;

        @media (max-width: 992px) {
          font-size: 76px;
          text-align: center;
          margin-bottom: 3em;
        }

        @media (max-width: 576px) {
          font-size: 56px;
          line-height: 56px;
          padding: 0 20px;
          text-align: center;
        }
      }

      img {
        position: absolute;
        // right: 200px;
        right: 0;
        top: 0;
        z-index: 1;

        @media (max-width: 1200px) {
          width: 500px;
          top: 100px;
          right: 0;
        }

        @media (max-width: 992px) {
          width: 400px;
          top: unset;
          bottom: 0;
          right: unset;
          left: 50%;
          transform: translate(-50%, 50%);
        }

        @media (max-width: 576px) {
          width: 80%;
          bottom: 7em;
        }
      }
    }

    .section-details {
      margin-top: -150px;
      padding: 60px 150px 60px 120px;
      box-shadow: 0px 4px 15px rgba(181, 178, 111, 0.3);
      background-color: white;

      @media (max-width: 992px) {
        margin-top: 0px;
      }

      @media (max-width: 768px) {
        padding: 60px 50px;
      }

      @media (max-width: 576px) {
        padding: 5px 20px; /*60px 50px*/
      }

      .title {
        font-size: 20px;
        color: $main-color;
        font-weight: 700;
        margin-top: 50px;
        @media (max-width: 576px) {
          margin: 1em 0;
        }
      }

      .big-title {
        font-size: 20px;
        font-weight: 700;
        color: $lightbrown;
        margin: 40px 0;
      }

      img {
        max-width: 100%;
        position: absolute;

        @media (max-width: 992px) {
          position: relative;
          right: unset !important;
          margin: auto;
          width: 100%;
        }

        &:nth-of-type(1) {
          right: -150px;
        }

        &:nth-of-type(2) {
          right: -300px;
        }

        &:nth-of-type(3) {
          right: -200px;
        }
      }
    }
  }
}

.popup {
  background-color: rgba($color: $primary-color, $alpha: 0.8);

  .offer-card {
    width: 440px;
    height: 590px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 50px;
    position: relative;

    &__header-image {
      margin-bottom: 20px;
    }

    h3 {
      font-family: Montserrat;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 59px;
      letter-spacing: 0em;
      text-align: center;
      margin-bottom: 12px;
    }

    blockquote {
      font-family: Montserrat;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 39px;
      letter-spacing: 0em;
      text-align: center;
      margin-bottom: 25px;
    }

    &__main-image {
      width: 500px;
      height: 250px;
    }

    &__button {
      color: white;
      background-color: $primary-color;
      margin-top: 50px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 40px;
      padding-left: 40px;
    }

    .cross {
      position: absolute;
      top: -11%;
      right: -13%;
    }

    .float-div {
      position: absolute;
      width: 202px;
      height: 28px;
      top: 2%;
      left: -5%;
      background: blue;
      display: flex;
      color: white;

      img {
        margin-left: 4px;
      }

      p {
        margin: 0;
        margin-left: 4px;
      }
    }

    &:first-child {
      background-color: white;
      .cross {
        display: none;
      }
      &__header-image {
        width: 240px;
      }
    }

    &:nth-child(2) {
      background: #f8f7f1;
      .float-div {
        left: inherit;
        right: -5%;
      }
    }
  }
}

.popup-small {
  background-color: rgba($color: $primary-color, $alpha: 0.8);

  .offer-card-small {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 35px;
    position: relative;

    &__content {
      position: relative;
      width: 350px;
      height: 630px;
      background: #f8f7f1;
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-top: 88px;

      .cross {
        position: absolute;
        top: -5%;
        right: -10%;
      }

      .float-div {
        position: absolute;
        width: 150px;
        height: 28px;
        font-size: 11px;
        top: 3%;
        left: -6%;
        background: blue;
        display: flex;
        color: white;
        align-items: center;
        padding: 2px;

        p {
          margin-bottom: 0px;
          margin-left: 2px;
        }
      }
    }

    .ant-radio-inner {
      background-color: rgba($color: #ffffff, $alpha: 0.5);
    }

    .ant-radio-inner::after {
      top: -1px;
      left: 0px;
      display: table;
      width: 105%;
      height: 110%;
      background-color: #f2c94c;
    }

    &__header-image {
      margin-bottom: 30px;
      max-height: 100px;
    }

    .main-image-container {
      width: 120%;
    }

    &__main-image {
      width: 100%;
      height: 100%;
    }

    &__button {
      position: absolute;
      color: white;
      background-color: $primary-color;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 40px;
      padding-left: 40px;
      bottom: 0;
      bottom: 5%;
      left: 27%;
    }

    h3 {
      font-family: Montserrat;
      font-size: 42px;
      font-style: normal;
      font-weight: 700;
      line-height: 51px;
      letter-spacing: 0em;
      text-align: center;
      color: #454545;
    }

    blockquote {
      font-family: Montserrat;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 34px;
      letter-spacing: 0em;
      text-align: center;
      color: #b5916f;
    }

    &__togglers {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
    }
  }
}
