.review-page {
  .section-header {
    background-color: #1449bb;
    padding: 30px 0;

    .title {
      font-size: 48px;
      font-weight: 700;
      color: white;
      margin: 0;
    }

    .sub-title {
      color: $star-yellow;
      font-weight: 600;
    }

    .review-lists {
      padding: 0;
      list-style: none;

      li {
        padding: 10px 0;
        border-top: 1px dashed #cfcfd1;
        color: white;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        align-items: center;

        &:last-of-type {
          border-bottom: 1px dashed #cfcfd1;
        }
      }
    }

    .right-side {
      padding: 20px;

      .company-logo {
        position: relative;
        padding: 10px;
        max-width: 400px;

        .background {
          width: 100%;
        }

        .company-avatar {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(calc(-50% - 5px), -50%);
        }
      }

      .buttons {
        button {
          margin-right: 10px;
        }
      }
    }
  }

  .button-tabs {
    padding: 15px 100px;
    border-bottom: 3px solid rgba(181, 178, 111, 0.15);

    button {
      margin-right: 20px;

      &.active {
        background-color: $background-color !important;
        color: white !important;
      }
    }
  }

  .rating-section {
    padding-bottom: 60px;

    .rating-details {
      padding: 50px 100px 10px;

      .rating-chart {
        padding: 20px;
        border: 1px dashed #b5b26f;

        h2 {
          font-family: "Montserrat-Bold";
          color: $background-color;
          font-size: 48px;
          font-weight: bold;
        }

        .rating {
          padding: 10px;

          .background {
            width: 100%;
            height: 15px;
            background-color: $light-background;
            border-radius: 15px;

            .rating-bar {
              height: 15px;
              background-color: $star-yellow;
              border-radius: 15px;
            }
          }

          .rating-value {
            text-align: center;
            position: relative;
            margin: 0;
            text-transform: uppercase;

            span {
              background-color: white;
              padding: 0 20px;
            }

            div.bar {
              width: 2px;
              height: 12px;
              position: absolute;
              background-color: #c4c4c4;
              top: 50%;
              transform: translate(0, -50%);

              &.left {
                left: 0;
              }

              &.right {
                right: 0;
              }
            }

            hr {
              width: 100%;
              margin: 0;
              position: absolute;
              top: 50%;
              z-index: -1;
              border-color: #c4c4c4;
            }
          }
        }
      }

      .size-pricing {
        color: $main-color;
        margin-top: 50px;

        h2 {
          font-family: "Montserrat-Bold";
          font-size: 100px;
          color: $light-background;
          -webkit-text-stroke: 0.1rem $background-color;
          text-align: center;
        }

        h3 {
          font-size: 24px;
          font-weight: bold;
          color: $main-color;
        }

        .size-cards {
          margin: 70px 0;

          .size-card {
            background-color: $light-background;
            padding: 20px 0;
            margin: 0 20px 30px;
            text-align: center;
            border-top: 3px solid;

            .title {
              color: $background-color;
              font-size: 20px;
              font-weight: bold;
            }

            .company-logo {
              background-color: white;
              transform: translate(-5%, 0);
              padding: 20px 0;
              width: 110%;
              box-shadow: 0px 3px 7px rgba(181, 178, 111, 0.3);

              img {
                margin: auto;
              }
            }

            .price {
              margin: 0;
              margin-top: 20px;
              color: $main-color;
              font-size: 32px;
              font-weight: bold;
            }

            .description {
              max-width: 110px;
              margin: 20px auto;
              font-size: 14px;
            }
          }
        }

        .support-types {
          margin: 50px 0;

          .support-card {
            min-height: 228px;
            text-align: center;
            box-shadow: 0px 4px 15px rgba(181, 178, 111, 0.3);
            margin: 30px 10px 0;
            padding: 30px 10px 20px;
            border-top: 3px solid $background-color;

            p {
              margin: 0 auto;
              font-size: 14px;
              max-width: 200px;
              text-align: center;

              &.title {
                margin: 20px auto 10px;
                font-size: 16px;
                color: $main-color;
                font-weight: bold;
              }
            }
          }
        }

        .about {
          margin-top: 100px;

          .company-logo {
            position: relative;
            margin: 0 auto;
            text-align: center;

            .logo {
              margin-bottom: 50px;
              min-width: 300px;
            }

            button {
              margin: 0 5px;
            }
          }
        }

        .disclosure {
          background-color: $lightbrown;
          margin-top: 50px;
          padding: 70px 50px;

          .title {
            font-family: "Montserrat-Bold";
            font-size: 48px;
            color: transparent;
            -webkit-text-stroke: 0.05rem white;
            text-align: center;
          }

          .column {
            padding: 0 30px;
            color: white;
          }
        }

        .customer-review {
          margin-top: 70px;
          background-color: rgba(242, 201, 76, 0.15);
          border-left: 3px solid $star-yellow;
          padding-left: 30px;

          .content {
            background-color: white;
            padding: 30px;

            .customer-detail {
              display: flex;
              align-items: center;

              .user-info {
                margin-left: 10px;

                p {
                  margin: 0;

                  &.username {
                    font-size: 16px;
                    font-weight: bold;
                  }

                  &.usertype {
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: bold;
                    color: $background-color;
                  }
                }
              }
            }
          }
        }

        .comment-box {
          background-color: $background-color;
          margin-top: 70px;
          padding: 70px;
          color: white;
          text-align: center;
          position: relative;

          &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            content: '';
            border-right: 30px solid transparent;
            border-top: 30px solid $background-color;
            transform: translate(0, 100%);
          }

          .title {
            font-family: "Montserrat-Bold";
            font-size: 48px;
            color: transparent;
            text-align: center;
            -webkit-text-stroke: 0.05rem white;
            margin: 0;
          }

          p {
            font-size: 16px;
          }

          .comment-form {
            input {
              margin: 10px 0;
            }

            textarea {
              margin: 10px 0;
            }

            .form-bottom {
              margin-top: 20px;
              display: flex;
              justify-content: space-between;

              p {
                margin: 0;
              }
            }
          }
        }

        .faqs {
          margin-top: 100px;

          .title {
            font-family: 'Montserrat-Bold';
            text-transform: uppercase;
            -webkit-text-stroke: 0.05rem $background-color;
            color: transparent;
            font-size: 48px;
          }

          .faq {
            background-color: #fdf7e4;
            padding: 30px;
            max-width: 700px;
            position: relative;
            margin-top: 50px;

            &.sub-comment {
              margin-left: 50px;
            }

            &::after {
              position: absolute;
              bottom: 0;
              left: 0;
              content: '';
              border-right: 30px solid transparent;
              border-top: 30px solid #fdf7e4;
              transform: translate(0, 100%);
            }

            .label {
              font-weight: bold;
              min-width: 100px;
            }

            .question,
            .answer {
              display: flex;
              margin-bottom: 20px;

              .content {
                p {
                  margin: 0;
                }
              }
            }

            .answer {
              .label {
                padding-top: 20px;
              }

              .content {
                padding-top: 20px;
                border-top: 1px solid rgba(181, 178, 111, 0.5);
              }
            }

            .author {
              font-family: 'Montserrat-SemiBold';
              color: $lightbrown;
            }

            .action {
              font-family: 'Montserrat-SemiBold';
            }
          }

          .show-more {
            border-color: $primary-color;
            color: $primary-color;
            padding: 25px 30px;
            font-size: 12px;
            font-family: 'Montserrat-Bold';
          }
        }
      }
    }

    .reviews {
      padding: 50px;
      background-color: $light-background;

      .website {
        text-align: center;
        border-top: 3px solid $background-color;
      }
    }
  }
}
