.review-page {
  .section-header {
    background-color: #1449bb;
    padding: 30px 0;

    .title {
      font-size: 48px;
      font-weight: 700;
      color: white;
      margin: 0;
    }

    .sub-title {
      color: $star-yellow;
      font-weight: 600;
    }

    .review-lists {
      padding: 0;
      list-style: none;

      li {
        padding: 10px 0;
        border-top: 1px dashed #cfcfd1;
        color: white;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        align-items: center;

        &:last-of-type {
          border-bottom: 1px dashed #cfcfd1;
        }
      }
    }

    .right-side {
      padding: 20px;

      .company-logo {
        position: relative;
        padding: 10px;
        max-width: 400px;

        .background {
          width: 100%;
        }

        .company-avatar {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(calc(-50% - 5px), -50%);
        }
      }

      .buttons {
        button {
          margin-right: 10px;
        }
      }
    }
  }

  .button-tabs {
    padding: 15px;
    border-bottom: 3px solid rgba(181, 178, 111, 0.15);

    button {
      margin-right: 20px;
    }
  }

  .rating-section {
    .rating-details {
      padding: 50px;

      .rating-chart {
        padding: 20px;
        border: 1px dashed #b5b26f;

        h2 {
          color: $background-color;
          font-size: 48px;
          font-weight: bold;
        }

        .rating {
          padding: 10px;

          .background {
            width: 100%;
            height: 15px;
            background-color: $light-background;
            border-radius: 15px;

            .rating-bar {
              height: 15px;
              background-color: $star-yellow;
              border-radius: 15px;
            }
          }

          .rating-value {
            text-align: center;
            position: relative;
            margin: 0;
            text-transform: uppercase;

            span {
              background-color: white;
              padding: 0 20px;
            }

            div.bar {
              width: 2px;
              height: 12px;
              position: absolute;
              background-color: #c4c4c4;
              top: 50%;
              transform: translate(0, -50%);

              &.left {
                left: 0;
              }

              &.right {
                right: 0;
              }
            }

            hr {
              width: 100%;
              margin: 0;
              position: absolute;
              top: 50%;
              z-index: -1;
              border-color: #c4c4c4;
            }
          }
        }
      }

      .size-pricing {
        color: $main-color;

        h2 {
          font-size: 100px;
          font-weight: bold;
          color: $light-background;
          -webkit-text-stroke: 1px $background-color;
          text-align: center;
        }

        h3 {
          font-size: 24px;
          font-weight: bold;
          color: $main-color;
        }

        .size-cards {
          margin-top: 70px;

          .size-card {
            background-color: $light-background;
            margin: 0 20px;
            text-align: center;
            border-top: 3px solid;
          }
        }
      }
    }

    .reviews {
      padding: 50px;
      background-color: $light-background;
    }
  }
}
